<blockquote>
  <p>
    <%= @question %>
  </p>
  <footer>
    - <em>You</em>
  </footer>
</blockquote>

<blockquote>
  <p>
    <%= @response %>
  </p>
  <footer>
    - <em>Your Coach</em>
  </footer>
</blockquote>


<%= link_to 'Ask a new question', ask_path %>
